DB_USER=
DB_PASSWORD=
DB_NAME=

WEB_PORT=3000
DB_PORT=5433
NODE_ENV=development

JWT_SECRET=
#ให้ทำการ แก้ # เป็นสิ่งที่ต้องใส่ แล้ว cat .env.example > .env                   แล้วลบ .env.example ออก

PGADMIN_EMAIL=
PGADMIN_PASSWORD=