DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

DB_HOST=localhost

WEB_PORT=3000
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable

#frontend url
FRONTEND_URL=http://localhost:3000

NODE_ENV=production 
MOCK_ENDPOINT=http://cs232_cantbesafer_be-localstack-1:4566/
NODE_TLS_REJECT_UNAUTHORIZED=0
PGSSLMODE=disable
TOKEN_KEY=1234445557852


PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin@admin.com

#AWS
AWS_S3_EVIDENCE_BUCKET_NAME = 
AWS_REGION = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 

SNS_TOPIC_ARN= a
AWS_SNS_TOPIC_ARN = 

MAP_NAME= 
PLACE_INDEX_NAME=
APIKEY= 
