DB_USER=
DB_PASSWORD=
DB_NAME=

WEB_PORT=3000
DB_POST=5432
NODE_ENV=development

TOKEN_KEY = #can put anything

#ให้ทำการ แก้ # เป็นสิ่งที่ต้องใส่ แล้ว cat .env.example > .env                   แล้วลบ .env.example ออก